@import "./prose.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 13px;
  @apply text-gray-900;
  counter-reset: card;
}

p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply tracking-wider;
}

.headings {
  @apply text-primary-100 text-center inline-flex border-l-4 border-solid;
}

@media screen and (min-width: 640px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

.rich-text-hero a {
  @apply text-blue-600 underline;
}

.rich-text-banner {
  @apply whitespace-pre-line;
  a {
    @apply underline;
  }
}

.title {
  @apply text-4xl leading-snug font-semibold text-orange-600;
}

@media (min-width: 768px) {
  .title {
    @apply text-4xl;
  }
}

.subtitle {
  @apply text-2xl leading-snug font-semibold;
}

@media (min-width: 768px) {
  .subtitle {
    @apply text-4xl;
  }
}

.itembar-right {
  @apply hidden;
}

@media (min-width: 768px) {
  .itembar-right {
    @apply float-right sticky top-80 right-10 bottom-10 block;
  }
}


.with-arrow:after {
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%206a.5.5%200%200%200%200%201V6zM12.854.646a.5.5%200%200%200-.708.708l.708-.708zM18%206.5l.354.354a.5.5%200%200%200%200-.708L18%206.5zm-5.854%205.146a.5.5%200%200%200%20.708.708l-.708-.708zM1%207h16.5V6H1v1zm16.646-.854l-5.5%205.5.708.708%205.5-5.5-.708-.708zm-5.5-4.792l2.75%202.75.708-.708-2.75-2.75-.708.708zm2.75%202.75l2.75%202.75.708-.708-2.75-2.75-.708.708z%22%20fill%3D%22%231264A3%22%2F%3E%3C%2Fsvg%3E);
  content: "";
  width: 19px;
  height: 13px;
  display: inline-block;
  margin-left: 0.5em;
}

.hoverable {
  position: static;
  display: inline-block;
}

.hoverable:hover .mega-menu,
.mega-menu:hover {
  display: flex;
  /* z-index: 500 !important; */
  position: absolute;
  width: 100vw;
  /* left: auto; */
  transition: 1000ms !important;
  @apply bg-gray-50;
}
.hoverable > a {
  position: relative;
  @apply text-sky-300;
}
.hoverable:hover > a::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 50%;
  border-width: 7px;
  border-style: solid;
  border-color: transparent;
  @apply border-b-gray-50;
}

.carousel {
  @apply relative;
  .carousel-text {
    @apply absolute top-1/2 left-1/2;
    transform: translate(-50%, -50%);
  }
}

.indexedStep {
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexedStep.accomplished {
  background-color: rgba(0, 116, 217, 1);
}

.counter {
  counter-reset: section;
}
.counter li {
  counter-increment: section;
  display: flex;
  position: relative;
  @apply rounded-md border-solid shadow-md m-4 bg-white;

  min-height: 8rem;
}
.counter li::before {
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  /* left: 0; */
  font-size: 4rem;
  /* height: 100%; */
  /* display: inline-block; */
  /* transform: scale(2); */
  /* text-align: center; */
  @apply text-[#F4F7F9];
  /* z-index: -10; */

  content: counter(section, decimal-leading-zero);
}
